@model Phone_Ecommerce_Manage.Models.Customer

@{
    ViewData["Title"] = "Thêm khách hàng";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}



<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
            <div class="pd-20 card-box mb-30">
                <div class="clearfix">
                    <h4 class="text-blue h4">Thêm khách hàng</h4>
                </div>
                <div class="wizard-content">
                    <form asp-action="Create" >
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <section class="mb-5">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="@Model.NameCustomer"  class="control-label">Tên khách hàng</label>
                                        <input asp-for="@Model.NameCustomer" class="form-control" />
                                        <span asp-validation-for="@Model.NameCustomer" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="@Model.Phone"  class="control-label">Số điện thoại</label>
                                        <input asp-for="@Model.Phone" class="form-control" />
                                        <span asp-validation-for="@Model.Phone" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="@Model.Email"  class="control-label">Email</label>
                                        <input asp-for="@Model.Email" class="form-control" />
                                        <span asp-validation-for="@Model.Email" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="@Model.Address"  class="control-label">Địa chỉ</label>
                                        <input asp-for="@Model.Address" class="form-control" />
                                        <span asp-validation-for="@Model.Address" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="@Model.UserName"  class="control-label">Tài khoản</label>
                                        <input asp-for="@Model.UserName" class="form-control" />
                                        <span asp-validation-for="@Model.UserName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="@Model.Password" class="control-label">Mật khẩu</label>
                                        <input asp-for="@Model.Password" class="form-control" type="password"/>
                                        <span asp-validation-for="@Model.Password" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <button type="submit" class="btn btn-primary">Lưu</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


