@model IEnumerable<Phone_Ecommerce_Manage.Models.News>
@{
    ViewData["Title"] = "Tin tức công nghệ";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
    MobileShop_DBContext data = new MobileShop_DBContext();
    var category = data.CategoryNews.ToList();
    List<CategoryNews> listCategoryNews = ViewBag.CategoryNews;
    List<Manager> listManager = ViewBag.Managers;
}
<div class="u-s-p-y-90">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-12">
                <div class="blog-w-master">
                    <div class="u-s-m-b-60">
                        <div class="blog-w">

                            <span class="blog-w__h">DANH MỤC</span>
                            <ul class="blog-w__list">
                                @foreach (var item in category){
                                    <li>
                                        <a>@item.NameCategory</a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                    <div class="u-s-m-b-60">
                        <div class="blog-w">

                            <span class="blog-w__h">BÀI VIẾT GẦN ĐÂY</span>
                            <ul class="blog-w__b-l">
                                @foreach (var item in Model)
                                {
                                    <li>
                                        <div class="b-l__block">
                                            <div class="b-l__date">

                                                <span>@item.CreateDate</span>
                                            </div>

                                            <span class="b-l__h">

                                                <a asp-action="Details" asp-route-id="@item.IdNews">@item.Title</a>
                                            </span>

                                            <span class="b-l__p">@item.DescriptionNew</span>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-8 col-sm-12">
                @foreach(var item in Model)
                {
                    <div class="bp bp--img u-s-m-b-30">
                        <div class="bp__wrap">
                            <div class="bp__thumbnail">

                                <!--====== Image Code ======-->

                                <a class="aspect aspect--bg-grey aspect--1366-768 u-d-block" asp-action="Details" asp-route-id="@item.IdNews">

                                    <img class="aspect__img" src="@item.Thumb" />
                                </a>
                                <!--====== End - Image Code ======-->
                            </div>
                            <div class="bp__info-wrap">
                                <div class="bp__stat">
                                    <span class="bp__stat-wrap">
                                        <span class="bp__publish-date">
                                            <a>
                                                <span>@item.CreateDate</span>
                                            </a>
                                        </span>
                                    </span>
                                    <span class="bp__stat-wrap">

                                        <span class="bp__author">
                                            @{
                                                var manager = listManager.Where(x => x.IdManager == item.IdManager).FirstOrDefault();
                                                <a>@manager.FullName</a>
                                            }
                                        </span>
                                    </span>
                                    <span class="bp__stat-wrap">

                                        <span class="gl-tag btn--e-transparent-hover-brand-b-2">
                                            @{
                                                var categoryNews = listCategoryNews.Where(x => x.IdCategoryNews == item.IdCategoryNews).FirstOrDefault();
                                                <a>@categoryNews.NameCategory</a>
                                            }
                                        </span>
                                    </span>
                                </div>

                                <span class="bp__h1">

                                    <a asp-action="Details" asp-route-id="@item.IdNews">@item.Title</a>
                                </span>
                                <p class="bp__p">@item.DescriptionNew</p>
                                <div class="gl-l-r">
                                    <div>

                                        <span class="bp__read-more">

                                            <a asp-action="Details" asp-route-id="@item.IdNews">Đọc thêm</a>
                                        </span>
                                    </div>
                                    <ul class="bp__social-list">
                                        <li>

                                            <a class="s-fb--color" href="#"><i class="fab fa-facebook-f"></i></a>
                                        </li>
                                        <li>

                                            <a class="s-tw--color" href="#"><i class="fab fa-twitter"></i></a>
                                        </li>
                                        <li>

                                            <a class="s-insta--color" href="#"><i class="fab fa-instagram"></i></a>
                                        </li>
                                        <li>

                                            <a class="s-wa--color" href="#"><i class="fab fa-whatsapp"></i></a>
                                        </li>
                                        <li>

                                            <a class="s-gplus--color" href="#"><i class="fab fa-google-plus-g"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                <nav class="post-center-wrap u-s-p-y-60">

                    <!--====== Pagination ======-->
                    <ul class="blog-pg">
                        <li class="blog-pg--active">
                            <a>1</a>
                        </li>
                        <li>
                            <a class="fas fa-angle-right"></a>
                        </li>
                    </ul>
                    <!--====== End - Pagination ======-->
                </nav>
            </div>
        </div>
    </div>
</div>

