@model Phone_Ecommerce_Manage.ModelViews.PromotionProduct_PromotionProductDetails_Model


@{
    ViewData["Title"] = "Edit Promotion";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    int countPromotionDetails = @Model.promotionProductDetails.Count();
    var count = countPromotionDetails;
    Product product = ViewBag.Product;
}



<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
            <div class="pd-20 card-box mb-30">
                <div class="clearfix">
                    <h4 class="text-danger h4">Bạn có muốn xóa khuyến mãi của @Model.promotionProduct.IdProductVersionNavigation.NameProductVersion không?</h4>
                </div>
                <div class="wizard-content">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Chọn sản phẩm</label>
                                <select class="custom-select" style="min-width: 200px;" asp-for="@product.IdProduct" asp-items="ViewBag.ListProduct" disabled>
                                    <option selected>Chọn danh mục</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <section class="mb-5">

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Chọn phiên bản</label>
                                    <select class="custom-select" style="min-width: 200px;" asp-for="@Model.promotionProduct.IdProductVersion" asp-items="ViewBag.ListProductVersion" disabled>
                                        <option selected>Chọn danh mục</option>
                                    </select>
                                </div>
                            </div>
                    </section>
                    <div class="row">
                        <div class="col-md-6">
                            <label asp-for="@Model.promotionProduct.StartDateTime" class="control-label">Ngày bắt đầu</label>
                            <input asp-for="@Model.promotionProduct.StartDateTime" class="form-control" />
                            <span asp-validation-for="@Model.promotionProduct.StartDateTime" class="text-danger"></span>
                        </div>
                        <div class="col-md-6">
                            <label asp-for="@Model.promotionProduct.EndDateTime" class="control-label">Ngày kết thúc</label>
                            <input asp-for="@Model.promotionProduct.EndDateTime" class="form-control" />
                            <span asp-validation-for="@Model.promotionProduct.EndDateTime" class="text-danger"></span>
                        </div>

                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="custom-control custom-checkbox mb-5">
                                    <input type="checkbox" class="custom-control-input" asp-for="@Model.promotionProduct.IsNoEndDay" checked="true">
                                    <label class="custom-control-label" asp-for="@Model.promotionProduct.IsNoEndDay">Không ngày kết thúc</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h5>Chi tiết khuyến mãi</h5>
                    <section class="mb-5">
                        @foreach (var item in Model.promotionProductDetails)
                        {
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="@item.NamePromotionProduct" class="control-label">Tên quà tặng</label>
                                        <input asp-for="@item.NamePromotionProduct" class="form-control" />
                                        <span asp-validation-for="@item.NamePromotionProduct" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="@item.Urlpromotion" class="control-label">URL khuyến mãi</label>
                                        <input asp-for="@item.Urlpromotion" class="form-control" />
                                        <span asp-validation-for="@item.Urlpromotion" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <form asp-action="DeletePromotionDetail" method="post" class="mb-4">
                                <input type="hidden" asp-for="@item.Id" />
                                <button class="btn btn-danger" type="submit">Xóa quà tặng này</button>
                            </form>
                        }
                    </section>

                    <form asp-action="Delete">
                        <input type="hidden" asp-for="@Model.promotionProduct.IdPromotionProduct" />
                        <input type="submit" value="Xóa khuyến mãi" class="btn btn-danger" />
                        <button class="btn btn-primary" asp-action="Index">Quay về</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



