@model IEnumerable<Phone_Ecommerce_Manage.Models.PromotionProduct>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StartDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsNoEndDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsPublished)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdProductVersionNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StartDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsNoEndDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsPublished)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdProductVersionNavigation.IdProductVersion)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdPromotionProduct">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdPromotionProduct">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdPromotionProduct">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
