@model IEnumerable<Phone_Ecommerce_Manage.Models.Employee>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="main-container">
	<div >
		<div class="min-height-200px">
			<div class="card-box mb-30">
				<div class="pd-20">
					<h4 class="text-blue h4">Danh sách nhân viên</h4>
					<a asp-area="Admin" asp-controller="Employees" asp-action="Create" type="button" class="btn btn-primary">
						Thêm nhân viên
					</a>
				</div>
				<div class="pb-20">
					<table class="data-table table stripe hover nowrap">
						<thead>
							<tr>
								<th>Tên nhân viên</th>
								<th>Số điện thoại</th>
								<th>Email</th>
								<th>Địa chỉ</th>
								<th>Tài khoản</th>
								<th>Trạng thái</th>

								<th class="table-plus datatable-nosort"></th>
							</tr>
						</thead>
						<tbody>
							@foreach (var item in Model) {
                                <tr>
                                    <td>@item.NameEmployee</td>
                                    <td>@item.Phone</td>
                                    <td>@item.Email</td>
                                    <td>@item.Address</td>
									<td>@item.IdAccountUserNavigation.UserName</td>
									@if (item.IdAccountUserNavigation.IsActive == true)
									{
										<td>Đang hoạt động</td>
									}
									else{
										<td>Không hoạt động</td>
									}

									<td>
										<a asp-action="Details" asp-route-id="@item.IdEmployee" class=" btn btn-success">Xem</a> 
                                        <a asp-action="Edit" asp-route-id="@item.IdEmployee" class="btn btn-primary">Sửa</a>
                                        <a asp-action="Delete" asp-route-id="@item.IdEmployee" class="btn btn-danger">Xóa</a>
                                    </td>
                                </tr>
							}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>