@using Phone_Ecommerce_Manage.ModelViews
@using Phone_Ecommerce_Manage.Models;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    MobileShop_DBContext contex = new MobileShop_DBContext();

    IEnumerable<ListMobileViewModels> listMobile = from productVerion in contex.ProductVersions
                                                   join productColor in contex.ProductColors on productVerion.IdProductVersion equals productColor.IdProductVersion
                                                   select new ListMobileViewModels { IdProductVersion = productVerion.IdProductVersion, IdProductColor = productColor.IdProductColor, NameProduct = productVerion.NameProductVersion, IsPublished = productVerion.IsPublished, Price = productColor.Price, PromotionPrice = productColor.PromotionPrice, ImgProductColor = productColor.ImgProductColor };

    List<ProductColor> productColorsFilter = ViewBag.ListProductFilter;
    if(productColorsFilter != null)
    {
        listMobile = (from productVerion in contex.ProductVersions.ToList()
                     join productColor in productColorsFilter.ToList() on productVerion.IdProductVersion equals productColor.IdProductVersion
                     select new ListMobileViewModels { IdProductVersion = productVerion.IdProductVersion, IdProductColor = productColor.IdProductColor, NameProduct = productVerion.NameProductVersion, IsPublished = productVerion.IsPublished, Price = productColor.Price, PromotionPrice = productColor.PromotionPrice, ImgProductColor = productColor.ImgProductColor }).ToList();
    }

    List<ProductVersion> listProductVersion = ViewBag.ListProductVersion;
    List<BrandMobile> listBrands = ViewBag.ListBrand;
    List<O> listOs = ViewBag.ListOS;
    List<Ram> listRam = ViewBag.Ram;
    List<Rom> listRom = ViewBag.Rom;


    var location = new Uri($"{Context.Request.Scheme}://{Context.Request.Host}{Context.Request.Path}{Context.Request.QueryString}");
     var url = location.AbsoluteUri;
}


<div class="u-s-p-y-90">



    <div class="container">

        <div class="row mb-5">
            <div class="col-md-12">
                
                            <form class="tool-style__form-wrap" style="width: 50%">

                    <label for="main-search"></label>

                    <input class="key-search-product  input-text input-text--border-radius input-text--style-1" type="text" id="main-search" placeholder="Search"/>

                    <button class="btn btn--icon fas fa-search main-search-button" type="submit"></button>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3 col-md-12">
                <div class="shop-w-master">
                    <h1 class="shop-w-master__heading u-s-m-b-30"><i class="fas fa-filter u-s-m-r-8"></i>
                        <span>BỘ LỌC</span></h1>
                    <div class="shop-w-master__sidebar">
                        <div class="u-s-m-b-30">
                            <div class="shop-w shop-w--style">
                                <div class="shop-w__intro-wrap">
                                    <h1 class="shop-w__h">HÃNG ĐIỆN THOẠI</h1>

                                    <span class="fas fa-minus shop-w__toggle" data-target="#s-manufacturer" data-toggle="collapse"></span>
                                </div>
                                <div class="shop-w__wrap collapse show" id="s-manufacturer">
                                    <ul class="shop-w__list-2">
                                        @foreach(var item in listBrands){
                                            <li>
                                            <div class="list__content">

                                                <input type="checkbox" class="input-brandMobile" data-id="@item.IdBrandMobile">

                                                <span>@item.NameBrand</span>
                                            </div>

                                          
                                        </li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                        
                        <div class="u-s-m-b-30">
                            <div class="shop-w shop-w--style">
                                <div class="shop-w__intro-wrap">
                                    <h1 class="shop-w__h">HỆ ĐIỀU HÀNH</h1>

                                    <span class="fas fa-minus shop-w__toggle" data-target="#s-manufacturer" data-toggle="collapse"></span>
                                </div>
                                <div class="shop-w__wrap collapse show" id="s-manufacturer">
                                    <ul class="shop-w__list-2">
                                        @foreach(var item in listOs){
                                            <li>
                                            <div class="list__content">
                                                <input type="checkbox" class="input-os" data-id="@item.IdOs">
                                                <span>@item.NameOs</span>
                                            </div>

                                           
                                        </li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="u-s-m-b-30">
                            <div class="shop-w shop-w--style">
                                <div class="shop-w__intro-wrap">
                                    <h1 class="shop-w__h">CHỌN THEO TIÊU CHÍ</h1>

                                    <span class="fas fa-minus shop-w__toggle" data-target="#s-category" data-toggle="collapse"></span>
                                </div>
                                <div class="shop-w__wrap collapse show" id="s-category">
                                    <ul class="shop-w__category-list gl-scroll">
                                        <li class="has-list">

                                            <a href="#">RAM</a>


                                            <span class="js-shop-category-span fas fa-plus u-s-m-l-6"></span>
                                            <ul>
                                                @foreach(var item in listRam){
                                                <li class="has-list li-ram" data-id="@item.IdRam">
                                                    <a href="#">@item.NameRam</a>
                                                </li>
                                               
                                                }
                                            </ul>
                                        </li>
                                        <li class="has-list">

                                            <a href="#">BỘ NHỚ TRONG</a>


                                            <span class="js-shop-category-span fas fa-plus u-s-m-l-6"></span>
                                            <ul>
                                                @foreach(var item in listRom){
                                                <li class="has-list li-rom" data-id="@item.IdRom">
                                                    <a href="#">@item.NameRom</a>
                                                </li>
                                                }
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>


                        <div class="u-s-m-b-30">
                            <div class="shop-w shop-w--style">
                                <div class="shop-w__intro-wrap">
                                    <h1 class="shop-w__h">ĐÁNH GIÁ</h1>

                                    <span class="fas fa-minus shop-w__toggle" data-target="#s-rating" data-toggle="collapse"></span>
                                </div>
                                <div class="shop-w__wrap collapse show" id="s-rating">
                                    <ul class="shop-w__list gl-scroll">
                                        <li>
                                            <div class="rating__check">

                                                <input type="checkbox">
                                                <div class="rating__check-star-wrap"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></div>
                                            </div>

                                            <span class="shop-w__total-text">(2)</span>
                                        </li>
                                        <li>
                                            <div class="rating__check">

                                                <input type="checkbox">
                                                <div class="rating__check-star-wrap"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>

                                                    <span>& Up</span></div>
                                            </div>

                                            <span class="shop-w__total-text">(8)</span>
                                        </li>
                                        <li>
                                            <div class="rating__check">

                                                <input type="checkbox">
                                                <div class="rating__check-star-wrap"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>

                                                    <span>& Up</span></div>
                                            </div>

                                            <span class="shop-w__total-text">(10)</span>
                                        </li>
                                        <li>
                                            <div class="rating__check">

                                                <input type="checkbox">
                                                <div class="rating__check-star-wrap"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>

                                                    <span>& Up</span></div>
                                            </div>

                                            <span class="shop-w__total-text">(12)</span>
                                        </li>
                                        <li>
                                            <div class="rating__check">

                                                <input type="checkbox">
                                                <div class="rating__check-star-wrap"><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>

                                                    <span>& Up</span></div>
                                            </div>

                                            <span class="shop-w__total-text">(1)</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="u-s-m-b-30">
                            <div class="shop-w shop-w--style">
                                <div class="shop-w__intro-wrap">
                                    <h1 class="shop-w__h">GIÁ BÁN</h1>

                                    <span class="fas fa-minus shop-w__toggle" data-target="#s-price" data-toggle="collapse"></span>
                                </div>
                                <div class="shop-w__wrap collapse show" id="s-price">
                                     <div class="shop-w__form-p-wrap">
                                            <div>

                                                <label for="price-min"></label>

                                                <input class="input-text input-text--primary-style" type="text" id="price-min" placeholder="Min"></div>
                                            <div>

                                                <label for="price-max"></label>

                                                <input class="input-text input-text--primary-style" type="text" id="price-max" placeholder="Max"></div>
                                            <div>

                                                <button class="btn btn--icon fas fa-angle-right btn--e-transparent-platinum-b-2 filter-price" ></button></div>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-12">
                <div class="shop-p">
                    <div class="shop-p__toolbar u-s-m-b-30">
                        <div class="shop-p__tool-style">
                            <div class="tool-style__group u-s-m-b-8">

                                <span class="js-shop-grid-target is-active">Dạng lưới</span>    

                                <span class="js-shop-list-target">Dạng danh sách</span></div>

                             
                            <form>
                                <div class="tool-style__form-wrap">
                                    
                                    <div class="u-s-m-b-8"><select class="select-box select-box--transparent-b-2">
                                            <option selected>Sắp xếp theo: Mới nhất</option>
                                            <option>Sắp xếp theo: Giá từ thấp đến cao</option>
                                            <option>Sắp xếp theo: Giá từ cao đến thấp</option>
                                        </select></div>
                                </div>
                            </form>



                        </div>
                    </div>
                    <div  id="products-list-ajax" class="shop-p__collection">
                        <div class="row is-grid-active">
                            @{
                                foreach(var item in listProductVersion)
                                {
                                    var product = listMobile.Where(x => x.IdProductVersion == item.IdProductVersion && x.IsPublished== true).Take(1).FirstOrDefault();
                                    

                                    if(product != null)
                                    {
                                        var img = (product.ImgProductColor).Split(", ")[0];
                                    <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="product-m">
                                    <div class="product-m__thumb">

                                        <a class="aspect aspect--bg-grey aspect--square u-d-block" asp-action="Details" asp-route-id="@item.IdProductVersion" asp-route-color="@product.IdProductColor">

                                            <img class="aspect__img" src="@img"alt="">
                                        </a>
                                        
                                        <div class="product-m__add-cart">
                                            
                                            <a class="btn--e-brand text-white btn-add-to-card" data-modal="modal" data-modal-id="#add-to-cart" data-id="@product.IdProductColor">Thêm vào giỏ hàng</a></div>
                                        
                                    </div>
                                    <div class="product-m__content">
                                        <div class="product-m__category">

                                            <a href="shop-side-version-2.html">Điện thoại</a></div>
                                        <div class="product-m__name">

                                            <a href="/Mobile/Product">@product.NameProduct</a>
                                        </div>
                                        <div class="product-m__rating gl-rating-style">

                                            @{
                                                var getRating = contex.Ratings.SingleOrDefault(x => x.IdProductVersion == product.IdProductVersion);
                                                if(getRating != null)
                                                {
                                                    var scoreTotalRating = (getRating.OneStar) + (getRating.TwoStar * 2) + (getRating.ThreeStar * 3) + (getRating.FourStar * 4) + (getRating.FiveStar * 5);
                                                    double starScore = (double)(scoreTotalRating / (getRating.QuantityRating * 1.0));
                                                    var star = Math.Round(starScore);

                                                    for(var i = 0 ;i< star; i++){
                                                        <i class="fas fa-star"></i>
                                                    }
                                                }
                                                
                                            }


                                            </div>
                                        <div class="product-m__price">
                                                        @if(product.PromotionPrice == null)
                                                        {
                                                            <span>@String.Format("{0:0,0}", product.Price)₫  </span>
                                            
                                                        }
                                                        else{
                                                            <span class="d-inline pr-1 ">@String.Format("{0:0,0}", product.PromotionPrice)₫</span>
                                                            <span class="d-inline" style="color: #888888; text-decoration: line-through;">
                                                                 @String.Format("{0:0,0}", product.Price)₫
                                                            </span>
                                                        }
                                                    </div>
                                        <div class="product-m__hover">
                                            <div class="product-m__preview-description">

                                                <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</span></div>
                                            <div class="product-m__wishlist" data-id="@product.IdProductColor">

                                                <a class="far fa-heart" href="#" data-tooltip="tooltip" data-placement="top" title="Add to Wishlist"></a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                    }
                                }
                                
                           }
                        </div>
                    </div>
                    <div class="u-s-p-y-60">

                        <!--====== Pagination ======-->
                        <ul class="shop-p__pagination">
                            <li class="is-active">

                                <a href="#">1</a></li>
                            <li>

                                <a href="#">2</a></li>
                            <li>
                            <li>

                                <a class="fas fa-angle-right" href="#"></a></li>
                        </ul>
                        <!--====== End - Pagination ======-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function(){
            $(".btn-add-to-card").click(function(){

                $.ajax({
                    url: "/Cart/AddCart",
                    type: "POST",
                    datatype: "json",
                     async: true,
                    data: {
                        id: $(this).data("id"),
                    },
                     success: function(data){ 
                         $('#mini-card-id').html(data);
                      },
                    error: function (xhr) {
                        alert('error');
                    }
                })
                
            })


            $(".input-brandMobile").click(function(){

                 $.ajax({
                    url: "/Mobile/Filtter",
                    type: "POST",
                    datatype: "json",
                     async: true,
                    data: {
                        IdBrandMobile: $(this).data("id"),
                    },
                     success: function(data){ 
                         if (data.status == "success") {
                            window.location.href = data.redirectUrl;
                        }
                      },
                    error: function (xhr) {
                        alert('error');
                    }
                })
                
            })


            $(".input-os").click(function(){

                 $.ajax({
                    url: "/Mobile/Filtter",
                    type: "POST",
                    datatype: "json",
                     async: true,
                    data: {
                        idOS: $(this).data("id"),
                    },
                     success: function(data){ 
                         if (data.status == "success") {
                            window.location.href = data.redirectUrl;
                        }
                      },
                    error: function (xhr) {
                        alert('error');
                    }
                })
                
            })

            $(".li-ram").click(function(){

                 $.ajax({
                    url: "/Mobile/Filtter",
                    type: "POST",
                    datatype: "json",
                     async: true,
                    data: {
                        IdRam: $(this).data("id"),
                    },
                     success: function(data){ 
                         if (data.status == "success") {
                            window.location.href = data.redirectUrl;
                        }
                      },
                    error: function (xhr) {
                        alert('error');
                    }
                })
                
            })

            $(".li-rom").click(function(){

                 $.ajax({
                    url: "/Mobile/Filtter",
                    type: "POST",
                    datatype: "json",
                     async: true,
                    data: {
                        IdRom: $(this).data("id"),
                    },
                     success: function(data){ 
                         if (data.status == "success") {
                            window.location.href = data.redirectUrl;
                        }
                      },
                    error: function (xhr) {
                        alert('error');
                    }
                })
                
            });

            $(".product-m__wishlist").click(function(){

                 $.ajax({
                    url: "/FavoriteProducts/AddFavoriteProduct",
                    type: "POST",
                    datatype: "json",
                     async: true,
                    data: {
                        IdProductColor: $(this).data("id"),
                    },
                     success: function(data){ 
                         if (data.status == "success") {
                            Swal.fire({
                              position: 'top-center',
                              icon: 'success',
                              title: 'Đã thêm sản phẩm vào danh sách yêu thích',
                              showConfirmButton: false,
                              timer: 1500
                            })
                        }
                      },
                    error: function (xhr) {
                        alert('error');
                    }
                })
            });

            $(".key-search-product").keyup(function () {
                var strkeyword = $('.key-search-product').val();
                $.ajax({
                    url: '/Mobile/FindProduct/',
                    datatype: "json",
                    type: "POST",
                    data: { keySearch: strkeyword },
                    async: true,
                    success: function (results) {
                        $("#products-list-ajax").html("");
                        $("#products-list-ajax").html(results);
                    },
                });
            });

            $(".filter-price").click(function(){

                 $.ajax({
                    url: "/Mobile/Filtter",
                    type: "POST",
                    datatype: "json",
                     async: true,
                    data: {
                       FromPrice: $("#price-min").val(),
                       ToPrice: $("#price-max").val()
                    },
                     success: function(data){ 
                         if (data.status == "success") {
                            window.location.href = data.redirectUrl;
                        }
                      },
                    error: function (xhr) {
                        alert('error');
                    }
                })
                
            });
        })
    </script>
}