@using Microsoft.AspNetCore.Http;
@using Phone_Ecommerce_Manage.ModelViews
@using Phone_Ecommerce_Manage.Utilities;
@model Phone_Ecommerce_Manage.ModelViews.Checkout;

@{
    ViewData["Title"] = "Checkout";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var customer = Context.Session.Get<Customer>("CustomerSession");
    var ui = customer == null ? "col-lg-6" : "col-lg-12";
    List<Cart> listCards = Context.Session.Get<List<Cart>>("Cart");

}

<div class="u-s-p-y-60">

    <!--====== Section Content ======-->
    <div class="section__content">
        <div class="container">
            <div class="breadcrumb">
                <div class="breadcrumb__wrap">
                    <ul class="breadcrumb__list">
                        <li class="has-separator">

                            <a href="/">Home</a>
                        </li>
                        <li class="has-separator">

                            <a asp-controller="Cart" asp-action="ViewCart">Cart</a>
                        </li>
                        <li class="is-marked">

                            <a href="checkout.html">Checkout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="u-s-p-b-60">

    <!--====== Section Content ======-->
    <div class="section__content">
        <div class="container">
            <div class="checkout-f">
                <form asp-controller="Cart" asp-action="Checkout" method="post">
                <div class="row">
                    @if(customer == null){
                        <div class="col-lg-6">
                        <h1 class="checkout-f__h1">THÔNG TIN GIAO HÀNG</h1>
                        <div class="checkout-f__delivery">
                            <div class="u-s-m-b-30">
                               

                                <!--====== First Name, Last Name ======-->
                                <div class="u-s-m-b-15">

                                    <label class="gl-label" for="billing-email">HỌ VÀ TÊN *</label>

                                    <input class="input-text input-text--primary-style" type="text" id="billing-email" asp-for="@Model.customer.NameCustomer">
                                </div>
                                <!--====== End - First Name, Last Name ======-->
                                <!--====== E-MAIL ======-->
                                <div class="u-s-m-b-15">

                                    <label class="gl-label" for="billing-email">E-MAIL *</label>

                                    <input class="input-text input-text--primary-style" type="text" id="billing-email" asp-for="@Model.customer.Email">
                                </div>
                                <!--====== End - E-MAIL ======-->
                                <!--====== PHONE ======-->
                                <div class="u-s-m-b-15">

                                    <label class="gl-label" for="billing-phone">ĐIỆN THOẠI *</label>

                                    <input class="input-text input-text--primary-style" type="text" id="billing-phone" asp-for="@Model.customer.Phone">
                                </div>
                                <!--====== End - PHONE ======-->
                                <!--====== Street Address ======-->
                                <div class="u-s-m-b-15">

                                    <label class="gl-label" for="billing-street">ĐỊA CHỈ *</label>

                                    <input class="input-text input-text--primary-style" type="text" id="billing-street"  asp-for="@Model.customer.Address">
                                </div>
                                
                                <!--====== End - Street Address ======-->
                               
                                
                                <div class="u-s-m-b-10">

                                    <a class="gl-link" asp-controller="Accounts" asp-action="SignUp">Bạn có muốn tạo tài khoản?</a>
                                </div>
                                
                                <div class="u-s-m-b-10">

                                    <label class="gl-label" for="order-note">GHI CHÚ</label><textarea class="text-area text-area--primary-style" id="order-note" asp-for="@Model.note"></textarea>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    }
                    
                    <div class="@ui">
                        <h1 class="checkout-f__h1">SẢN PHẨM CỦA BẠN</h1>

                        <!--====== Order Summary ======-->
                        <div class="o-summary">
                            <div class="o-summary__section u-s-m-b-30">
                                <div class="o-summary__item-wrap gl-scroll">
                                   @foreach(var item in listCards){
                                        <div class="o-card">
                                        <div class="o-card__flex">
                                            <div class="o-card__img-wrap">
                                                <img class="u-img-fluid" src="@item.img" alt="">
                                            </div>
                                            <div class="o-card__info-wrap">

                                                <span class="o-card__name">

                                                    <a href="product-detail.html">@item.name</a>
                                                </span>

                                                <span class="o-card__quantity">Số lượng x @item.quantity</span>

                                                <span class="o-card__price">@String.Format("{0:0,0}", item.price)₫</span>
                                            </div>
                                        </div>
                              
                                    </div>
                                   }
                                   
                                </div>
                            </div>



                            <div class="o-summary__section u-s-m-b-30">
                                <div class="o-summary__box">
                                    <h1 class="checkout-f__h1">CHỌN HÌNH THỨC GIAO HÀNG</h1>
                                    <div class="checkout-f__payment">
                                        <div class="u-s-m-b-10">

                                            <!--====== Radio Box ======-->
                                            <div class="radio-box">

                                                <input type="radio" id="cash-on-delivery"  asp-for="@Model.typeReceive" checked value="true">
                                                <div class="radio-box__state radio-box__state--primary">

                                                    <label class="radio-box__label" for="cash-on-delivery">Giao hàng tận nơi</label>
                                                </div>
                                            </div>
                                            <!--====== End - Radio Box ======-->

                                        </div>
                                        <div class="u-s-m-b-10">

                                            <!--====== Radio Box ======-->
                                            <div class="radio-box">

                                                <input type="radio" id="direct-bank-transfer"  asp-for="@Model.typeReceive" value="false">
                                                <div class="radio-box__state radio-box__state--primary">

                                                    <label class="radio-box__label" for="direct-bank-transfer">Nhận hàng tại cửa hàng</label>
                                                </div>
                                            </div>
                                            <!--====== End - Radio Box ======-->
                                        </div>
                                        
                                       
                                    </div>
                                </div>
                            </div>

                            <div class="o-summary__section u-s-m-b-30">
                                <div class="o-summary__box">
                                    <h1 class="checkout-f__h1">CHỌN HÌNH THỨC THANH TOÁN</h1>
                                    <div class="checkout-f__payment">
                                        <div class="u-s-m-b-10">

                                            <!--====== Radio Box ======-->
                                            <div class="radio-box">

                                                <input type="radio" id="cash-on-delivery" asp-for="@Model.typePayment" checked  value="true">
                                                <div class="radio-box__state radio-box__state--primary">

                                                    <label class="radio-box__label" for="cash-on-delivery">Thanh toán khi nhận hàng</label>
                                                </div>
                                            </div>
                                            <!--====== End - Radio Box ======-->

                                        </div>
                                        <div class="u-s-m-b-10">

                                            <!--====== Radio Box ======-->
                                            <div class="radio-box">

                                                <input type="radio" id="direct-bank-transfer"  asp-for="@Model.typePayment"  value="false">
                                                <div class="radio-box__state radio-box__state--primary">

                                                    <label class="radio-box__label" for="direct-bank-transfer">Thanh toán qua MOMO</label>
                                                </div>
                                            </div>
                                            <!--====== End - Radio Box ======-->
                                        </div>
                                        
                                       
                                    </div>
                                </div>
                            </div>
                            
                            <div class="u-s-m-b-15">

                                    <label class="gl-label" for="billing-street">MÃ GIẢM GIÁ  <a class="gl-link" href="#create-account" data-toggle="collapse">(Lấy mã giảm giá)</a></label> 
                                    <input style="height: 60px; font-size: 14px" class="input-text input-text--primary-style code-voucher" type="text" id="billing-street" placeholder="NHẬP MÃ GIẢM GIÁ NẾU CÓ..." asp-for="@Model.voucher">
                                    <span class="faild-voucher" style="display: block; padding: 8px 0; color: #ff4500;"></span>
                                    <button type="button" class="btn btn--e-brand-b-2 btn-check-voucher">XÁC NHẬN VOUCHER</button>
                                </div>

                            <div class="o-summary__section u-s-m-b-30">
                                <div class="o-summary__box">
                                    <table class="o-summary__table">
                                        <tbody>
                                             <tr>
                                                <td>TẠM TÍNH</td>
                                                @if(ViewBag.Total != null){
                                                     <td>@String.Format("{0:0,0}", ViewBag.Total)₫</td>
                                                }
                                            </tr>
                                            <tr>
                                                <td>GIẢM GIÁ</td>
                                                <td class="discount-price">0₫</td>
                                            </tr>
                                            <tr>
                                                <td>TỔNG TIỀN PHẢI TRẢ</td>
                                                 @if(ViewBag.Total != null){
                                                    <td class="total-payments">@String.Format("{0:0,0}", ViewBag.Total)₫</td>
                                                }
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                               
                            </div>
                             <button class="btn btn--e-brand-b-2" type="submit">XÁC NHẬN THANH TOÁN</button>
                        </div>
                        <!--====== End - Order Summary ======-->
                    </div>
                </div>
                </form>
        </div>
    </div>
    <!--====== End - Section Content ======-->
</div>

@{await Html.RenderPartialAsync("_ValidationScriptsPartial");   }
}

@section Scripts{
    <script>
        $(document).ready(function(){
            $(".btn-check-voucher").click(function(e){
                e.preventDefault();
                $.ajax({
                    url: "/Cart/CheckVoucher",
                    type: "GET",
                    datatype: "json",
                     async: true,
                    data: {
                        voucher: $(".code-voucher").val()
                    },
                     success: function(data){    
                       if(data.status == "Success"){
                             $(".discount-price").text(data.discount);
                            $(".total-payments").text(data.total);
                            $(".faild-voucher").text("");
                       }
                       if(data.status == "Failed"){
    
                           $(".faild-voucher").text(data.message);
                       }
                      },
                    error: function (xhr) {
                        alert('error');
                    }
                })
            })
        })
    </script>
}

