@model Phone_Ecommerce_Manage.ModelViews.ChangePasswordViewModel;
@{
    ViewData["Title"] = "Thay đổi mật khẩu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--====== Section 1 ======-->
<div class="u-s-p-y-60">

    <!--====== Section Content ======-->
    <div class="section__content">
        <div class="container">
            <div class="breadcrumb">
                <div class="breadcrumb__wrap">
                    <ul class="breadcrumb__list">
                        <li class="has-separator">

                            <a href="/Home/Index">Home</a>
                        </li>
                        <li class="is-marked">

                            <a href="/Accounts/ManageAccount">Quản lý tài khoản</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--====== End - Section 1 ======-->
<!--====== Section 2 ======-->
<div class="u-s-p-b-60">

    <!--====== Section Content ======-->
    <div class="section__content">
        <div class="dash">
            <div class="container">
                <div class="row">
                   @await Html.PartialAsync("_PartialLeftSideBarAccount.cshtml")
                    <div class="col-lg-9 col-md-12">
                        <div class="dash__box dash__box--shadow dash__box--radius dash__box--bg-white">
                            <div class="dash__pad-2">
                                <h1 class="dash__h1 u-s-m-b-14">Thay đổi mật khẩu</h1>

                                <span class="dash__text u-s-m-b-30">Looks like you haven't update your profile</span>
                                
                                <div class="row">
                                    <div class="col-lg-12">
                                        <form class="dash-edit-p" asp-controller="Accounts" asp-action="ChangePassword">
                                        
                                            <div class="gl-inline">
                                                <div class="u-s-m-b-30">

                                                    <label class="gl-label" for="reg-fname">MẬT KHẨU HIỆN TẠI *</label>

                                                    <input class="input-text input-text--primary-style" type="password" id="reg-fname" placeholder="Nhập mật khẩu hiện tại" asp-for="@Model.PasswordNow"> 
                                                    <span asp-validation-for="@Model.PasswordNow" class="text-danger"></span>
                                                </div>
                                               
                                            </div>

                                            <div class="gl-inline">
                                                <div class="u-s-m-b-30">

                                                    <label class="gl-label" for="reg-fname">MẬT KHẨU MỚI *</label>

                                                    <input class="input-text input-text--primary-style" type="password" id="reg-fname" placeholder="Nhập mật khẩu mới" asp-for="@Model.Password"> 
                                                    <span asp-validation-for="@Model.Password" class="text-danger"></span>
                                                </div>
                                               
                                            </div>

                                            <div class="gl-inline">
                                                <div class="u-s-m-b-30">

                                                    <label class="gl-label" for="reg-fname">NHẬP LẠI MẬT KHẨU MỚI *</label>

                                                    <input class="input-text input-text--primary-style" type="password" id="reg-fname" placeholder="Nhập lại mật khẩu mới" asp-for="@Model.ConfirmPassword"> 
                                                    <span asp-validation-for="@Model.ConfirmPassword" class="text-danger"></span>
                                                </div>
                                               
                                            </div>
                                            
                                            <div style="color: #dc3545;" class="mb-3">@ViewBag.ErrorPassword</div>
                                            <button class="btn btn--e-brand-b-2" type="submit">LƯU</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--====== End - Section Content ======-->
</div>
<!--====== End - Section 2 ======-->


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");   }
}

