@model Phone_Ecommerce_Manage.Models.OrderBill
@{
    ViewData["Title"] = "Chi tiết đơn hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<OrderBillDetail> orderBillDetails = ViewBag.OrderBillDetails;
    List<ProductVersion> productVersions = ViewBag.ListProductVersion;
    List<ProductColor> productColors = ViewBag.ListProductColor;
    List<ColorProduct> colorProducts = ViewBag.ColorProducts;
    List<PaymentsType> paymentsTypes = ViewBag.PaymentsTypes;
    Customer customer = ViewBag.Customer;

}
<!--====== Section 1 ======-->
<div class="u-s-p-y-60">

    <!--====== Section Content ======-->
    <div class="section__content">
        <div class="container">
            <div class="breadcrumb">
                <div class="breadcrumb__wrap">
                    <ul class="breadcrumb__list">
                        <li class="has-separator">

                            <a href="/Home/Index">Home</a>
                        </li>
                        <li class="is-marked">

                            <a href="/Accounts/ManageAccount">Quản lý tài khoản</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--====== End - Section 1 ======-->
<!--====== Section 2 ======-->
<div class="u-s-p-b-60">

    <!--====== Section Content ======-->
    <div class="section__content">
        <div class="dash">
            <div class="container">
                <div class="row">
                    @await Html.PartialAsync("_PartialLeftSideBarAccount.cshtml")
                    <div class="col-lg-9 col-md-12">
                        <h1 class="dash__h1 u-s-m-b-30">Chi tiết đơn hàng</h1>
                        <div class="dash__box dash__box--shadow dash__box--radius dash__box--bg-white u-s-m-b-30">
                            <div class="dash__pad-2">
                                <div class="dash-l-r">
                                    <div>
                                        <div class="manage-o__text-2 u-c-secondary">Mã đơn hàng #@Model.IdOrderBill</div>
                                        <div class="manage-o__text u-c-silver">Thời gian đặt hàng @Model.OrderDate</div>
                                    </div>
                                    <div>
                                        <div class="manage-o__text-2 u-c-silver">
                                            Tổng tiền:

                                            <span class="manage-o__text-2 u-c-secondary">@String.Format("{0:0,0}", Model.Total)₫</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="dash__box dash__box--shadow dash__box--radius dash__box--bg-white u-s-m-b-30">
                            <div class="dash__pad-2">
                                <div class="manage-o">
                                    
                                    <div class="dash-l-r">
                                        @if(Model.IdStatusOrder == 3)
                                        {
                                            <div class="manage-o__text u-c-secondary">Được giao vào ngày @Model.ShipDate</div>
                                        }
                                        <div class="manage-o__icon">
                                            <i class="fas fa-truck u-s-m-r-5"></i>

                                            <span class="manage-o__text">Tiêu chuẩn</span>
                                        </div>
                                    </div>
                                    @{
                                        var waitCheck = "";
                                        var shipping = "";
                                        var complete = "";
                                        switch(Model.IdStatusOrder){
                                            case 1:
                                                waitCheck = "timeline-l-i";
                                                shipping = "timeline-l-i";
                                                complete = "timeline-l-i";
                                                break;
                                            case 2:
                                                waitCheck = "timeline-l-i timeline-l-i--finish";
                                                shipping = "timeline-l-i";
                                                complete = "timeline-l-i";
                                                break;
                                            case 3:
                                            case 4:
                                                waitCheck = "timeline-l-i timeline-l-i--finish";
                                                shipping = "timeline-l-i timeline-l-i--finish";
                                                complete = "timeline-l-i";
                                                break;
                                            case 5:
                                                waitCheck = "timeline-l-i timeline-l-i--finish";
                                                shipping = "timeline-l-i timeline-l-i--finish";
                                                complete = "timeline-l-i timeline-l-i--finish";
                                                break;
                                        }
                                    }
                                    @if(Model.IdStatusOrder != 6)
                                    {
                                        <div class="manage-o__timeline">
                                        <div class="timeline-row">
                                            <div class="col-lg-4 u-s-m-b-30">
                                                <div class="timeline-step">
                                                    <div class="@waitCheck">

                                                        <span class="timeline-circle"></span>
                                                    </div>

                                                    <span class="timeline-text">Xử lý</span>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 u-s-m-b-30">
                                                <div class="timeline-step">
                                                    <div class="@shipping">

                                                        <span class="timeline-circle"></span>
                                                    </div>

                                                    @if (Model.IdStatusOrder == 4)
                                                    {
                                                        <span class="timeline-text">Chờ khách đến lấy</span>
                                                    }
                                                    else
                                                    {
                                                        <span class="timeline-text">Đang vận chuyển</span>
                                                        
                                                    }
                                                </div>
                                            </div>
                                            <div class="col-lg-4 u-s-m-b-30">
                                                <div class="timeline-step">
                                                    <div class="@complete" >

                                                        <span class="timeline-circle"></span>
                                                    </div>

                                                    <span class="timeline-text">Đã giao hàng</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    }
                                    else
                                    {
                                        <div class="manage-o__timeline">
                                        <div class="timeline-row">
                                            <div class="col-lg-4 u-s-m-b-30">
                                                <div class="timeline-step">
                                                    <div class="timeline-l-i timeline-l-i--finish" style="border-color: #ff0000">

                                                        <span class="timeline-circle" style="border-color: #ff0000"></span>
                                                    </div>

                                                    <span class="timeline-text">Đã hủy</span>
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                    }
                                    @foreach(var item in orderBillDetails)
                                    {
                                        var productColor = productColors.Where(x => x.IdProductColor == item.IdProductColor).FirstOrDefault();
                                        var productVersion = productVersions.Where(x => x.IdProductVersion == productColor.IdProductVersion).FirstOrDefault();

                                        <div class="manage-o__description">
                                        <div class="description__container">
                                            <div class="description__img-wrap" >

                                                <img class="u-img-fluid" src="@productColor.ImgProductColor.Split(", ")[0]" alt="">
                                            </div>
                                            <div class="description-title">@productVersion.NameProductVersion</div>
                                        </div>
                                        <div class="description__info-wrap">
                                            <div>

                                                <span class="manage-o__text-2 u-c-silver">
                                                    Số lượng:

                                                    <span class="manage-o__text-2 u-c-secondary">@item.QuantityProduct</span>
                                                </span>
                                            </div>
                                            <div>

                                                <span class="manage-o__text-2 u-c-silver">
                                                    Thành tiền:

                                                    <span class="manage-o__text-2 u-c-secondary">@String.Format("{0:0,0}", item.SubTotal)₫</span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="dash__box dash__box--bg-white dash__box--shadow u-s-m-b-30">
                                    <div class="dash__pad-3">
                                        <h2 class="dash__h2 u-s-m-b-8">Thông tin giao hàng</h2>
                                        <h2 class="dash__h2 u-s-m-b-8">@customer.NameCustomer</h2>

                                        <span class="dash__text-2">@customer.Address</span>

                                        <span class="dash__text-2">@customer.Phone</span>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="col-lg-6">
                                <div class="dash__box dash__box--bg-white dash__box--shadow u-h-100">
                                    <div class="dash__pad-3">
                                        <h2 class="dash__h2 u-s-m-b-8">Total Summary</h2>
                                        <div class="dash-l-r u-s-m-b-8">
                                            <div class="manage-o__text-2 u-c-secondary">Tổng tiền hàng</div>
                                            @if(Model.DiscountVoucher == null || Model.DiscountVoucher == 0)
                                            {
                                                <div class="manage-o__text-2 u-c-secondary">@String.Format("{0:0,0}",Model.Total)₫</div>
                                            }
                                            else
                                            {
                                                <div class="manage-o__text-2 u-c-secondary">@String.Format("{0:0,0}", Model.DiscountVoucher + Model.Total)₫</div>
                                                

                                            }
                                        </div>
                                        <div class="dash-l-r u-s-m-b-8">
                                            <div class="manage-o__text-2 u-c-secondary">Giảm giá</div>
                                            @if(Model.DiscountVoucher == null || Model.DiscountVoucher == 0)
                                            {
                                                 <div class="manage-o__text-2 u-c-secondary">0₫</div>
                                            }
                                            else
                                            {
                                                <div class="manage-o__text-2 u-c-secondary">@String.Format("{0:0,0}", Model.DiscountVoucher)₫</div>
                                            }
                                        </div>
                                        <div class="dash-l-r u-s-m-b-8">
                                            <div class="manage-o__text-2 u-c-secondary">Phải trả</div>
                                            <div class="manage-o__text-2 u-c-secondary">@String.Format("{0:0,0}",Model.Total)₫</div>
                                        </div>

                                        @{
                                            var typePayment = paymentsTypes.Where(x => x.IdPaymentType == Model.IdPaymentType).FirstOrDefault();
                                            <span class="dash__text-2">@typePayment.NamePaymentType</span>
                                        }
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--====== End - Section Content ======-->
</div>
<!--====== End - Section 2 ======-->

<style>
    .description__img-wrap img{
        border-radius: 0;
    }
</style>