@model Phone_Ecommerce_Manage.Models.Customer;

@{
    ViewData["Title"] = "Tổng quan";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<OrderBill> orderBills = ViewBag.ListOrderBill;
    List<StatusOrder> statusOrders = ViewBag.ListStatusOrder;

}

<!--====== Section 1 ======-->
<div class="u-s-p-y-60">

    <!--====== Section Content ======-->
    <div class="section__content">
        <div class="container">
            <div class="breadcrumb">
                <div class="breadcrumb__wrap">
                    <ul class="breadcrumb__list">
                        <li class="has-separator">

                            <a href="/">Home</a>
                        </li>
                        <li class="is-marked">

                            <a href="/Accounts/ManageAccount">Quản lý tài khoản</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--====== End - Section 1 ======-->
<!--====== Section 2 ======-->
<div class="u-s-p-b-60">

    <!--====== Section Content ======-->
    <div class="section__content">
        <div class="dash">
            <div class="container">
                <div class="row">
                    @await Html.PartialAsync("_PartialLeftSideBarAccount.cshtml")
                    <div class="col-lg-9 col-md-12">
                        <div class="dash__box dash__box--shadow dash__box--radius dash__box--bg-white u-s-m-b-30">
                            <div class="dash__pad-2">
                                <h1 class="dash__h1 u-s-m-b-14 mb-4">Quản lý tài khoản</h1>

                                <div class="row">
                                    <div class="col-lg-6 u-s-m-b-30">
                                        <div class="dash__box dash__box--bg-grey dash__box--shadow-2 u-h-100">
                                            <div class="dash__pad-3">
                                                <h2 class="dash__h2 u-s-m-b-8">THÔNG TIN CÁ NHÂN</h2>
                                                <div class="dash__link dash__link--secondary u-s-m-b-8">

                                                    <a asp-controller="Accounts" asp-action="EditAccount">Chỉnh sửa</a>
                                                </div>

                                                <span class="dash__text">@Model.NameCustomer</span>

                                                <span class="dash__text">@Model.Email</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 u-s-m-b-30">
                                        <div class="dash__box dash__box--bg-grey dash__box--shadow-2 u-h-100">
                                            <div class="dash__pad-3">
                                                <h2 class="dash__h2 u-s-m-b-8">ĐỊA CHỈ GIAO HÀNG</h2>

                                                <span class="dash__text-2 u-s-m-b-8">Địa chỉ giao hàng mặc định</span>

                                                <span class="dash__text">@Model.Address</span>

                                                <span class="dash__text">@Model.Phone</span>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="dash__box dash__box--shadow dash__box--bg-white dash__box--radius">
                        <h2 class="dash__h2 u-s-p-xy-20">ĐƠN HÀNG GẦN ĐÂY</h2>
                        @if(orderBills.Count == 0 || orderBills == null)
                        {
                             <div class="dash__h2 u-s-p-xy-20 mb-3">Chưa có đơn hàng nào</div>
                           
                            
                        }
                        else
                        {
                            <div class="dash__table-wrap gl-scroll">
                                <table class="dash__table">
                                    <thead>
                                        <tr>
                                            <th>Mã đơn hàng #</th>
                                            <th>Ngày đặt</th>
                                            <th>Tình trạng đơn hàng</th>
                                            <th>Tổng tiền</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach(var item in orderBills)
                                        {
                                            <tr>
                                            <td>@item.IdOrderBill</td>
                                            <td>@item.OrderDate</td>
                                              @{
                                                    var statusOrder = statusOrders.Where(x => x.IdStatusOrder == item.IdStatusOrder).FirstOrDefault();
                                                    <td>@statusOrder.NameStatus</td>
                                                }
                                            <td>@String.Format("{0:0,0}", item.Total)₫,</td>
                                            
                                        </tr>
                                        }
                                        
                                    </tbody>
                                </table>
                            </div>
                        }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--====== End - Section Content ======-->
</div>
<!--====== End - Section 2 ======-->

