@model Phone_Ecommerce_Manage.ModelViews.RegisterViewModel
@using Microsoft.AspNetCore.Http;

@{
    ViewData["Title"] = "SignUp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--====== Section 1 ======-->
<div class="u-s-p-y-60">

    <!--====== Section Content ======-->
    <div class="section__content">
        <div class="container">
            <div class="breadcrumb">
                <div class="breadcrumb__wrap">
                    <ul class="breadcrumb__list">
                        <li class="has-separator">

                            <a href="/">Trang chủ</a>
                        </li>
                        <li class="is-marked">

                            <a href="signup.html">Đăng ký tài khoản</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--====== End - Section 1 ======-->
<!--====== Section 2 ======-->
<div class="u-s-p-b-60">

    <!--====== Section Intro ======-->
    <div class="section__intro u-s-m-b-60">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section__text-wrap">
                        <h1 class="section__heading u-c-secondary">ĐĂNG KÝ TÀI KHOẢN</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--====== End - Section Intro ======-->
    <!--====== Section Content ======-->
    <div class="section__content">
        <div class="container">
            <div class="row row--center">
                <div class="col-lg-6 col-md-8 u-s-m-b-30">
                    <div class="l-f-o">
                        <div class="l-f-o__pad-box">
                            <h1 class="gl-h1">THÔNG TIN CÁ NHÂN</h1>
                            <form class="l-f-o__form" asp-action="SignUp">
                                <div class="u-s-m-b-30">

                                    <label class="gl-label" for="reg-fname">HỌ VÀ TÊN *</label>

                                    <input class="input-text input-text--primary-style" type="text"  placeholder="Nhập họ và tên" asp-for="@Model.NameCustomer">
                                </div>
                                <span asp-validation-for="@Model.NameCustomer" class="text-danger text-danger" style="display: block;margin: -16px 0 20px;"></span>
                                
                                <div class="u-s-m-b-30">

                                    <label class="gl-label" for="reg-email">E-MAIL *</label>

                                    <input class="input-text input-text--primary-style" type="text" placeholder="Nhập E-mail" asp-for="@Model.Email"> 
                                </div>
                                <span asp-validation-for="@Model.Email" class="text-danger text-danger" style="display: block;margin: -16px 0 20px;"></span>

                                <div class="u-s-m-b-30">

                                    <label class="gl-label" for="reg-email">TÀI KHOẢN *</label>

                                    <input class="input-text input-text--primary-style" type="text"  placeholder="Nhập tài khoản" asp-for="@Model.Username">
                                </div>
                                <span asp-validation-for="@Model.Username" class="text-danger text-danger" style="display: block;margin: -16px 0 20px;"></span>

                                <div class="u-s-m-b-30">

                                    <label class="gl-label" for="reg-email">ĐIỆN THOẠI *</label>

                                    <input class="input-text input-text--primary-style" type="text" id="reg-taikhoan" placeholder="Nhập điện thoại" asp-for="@Model.Phone">
                                </div>
                                <span asp-validation-for="@Model.Phone" class="text-danger text-danger" style="display: block;margin: -16px 0 20px;"></span>

                                <div class="u-s-m-b-30">

                                    <label class="gl-label" for="reg-email">ĐỊA CHỈ *</label>

                                    <input class="input-text input-text--primary-style" type="text" placeholder="Nhập địa chỉ" asp-for="@Model.Address">
                                </div>
                                <span asp-validation-for="@Model.Address" class="text-danger text-danger" style="display: block;margin: -16px 0 20px;"></span>

                                <div class="u-s-m-b-30">

                                    <label class="gl-label" for="reg-password">MẬT KHẨU *</label>

                                    <input class="input-text input-text--primary-style" type="password" id="reg-password" placeholder="Nhập mật khẩu" asp-for="@Model.Password">
                                </div>
                                <span asp-validation-for="@Model.Password" class="text-danger text-danger" style="display: block;margin: -16px 0 20px;"></span>

                                <div class="u-s-m-b-30">

                                    <label class="gl-label" for="reg-password">NHẬP LẠI MẬT KHẨU *</label>

                                    <input class="input-text input-text--primary-style" type="password"  id="reg-password" placeholder="Nhập lại mật khẩu" asp-for="@Model.ConfirmPassword">
                                </div>
                                <span asp-validation-for="@Model.ConfirmPassword" class="text-danger text-danger" style="display: block;margin: -16px 0 20px;"></span>

                                <div class="row">
									<div class="col-sm-12" style="margin-bottom: 21px;text-align: center;">
									<span class="text-danger">@ViewBag.Error</span>
									</div>
								</div>

                                <div class="u-s-m-b-15 pt-3">
                                    <button class="btn btn--e-transparent-brand-b-2 " type="submit">TẠO TÀI KHOẢN</button>
                                </div>

                                <a class="gl-link" href="/Home/Index">Quay lại cửa hàng</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--====== End - Section Content ======-->
</div>
<!--====== End - Section 2 ======-->

