@model Phone_Ecommerce_Manage.Models.BrandMobile

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@*<img src="~/adminasset/vendors/images/register-page-img.png" alt="" />*@

<h1>Details</h1>

<div>
    <h4>BrandMobile</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameBrand)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameBrand)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImgBrand)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImgBrand)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsPublished)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsPublished)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdBrandMobile">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
