@model IEnumerable<Phone_Ecommerce_Manage.Models.Voucher>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--====== App Content ======-->
<div class="app-content">

    <!--====== Section 1 ======-->
    <div class="u-s-p-y-90">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-12">
                    <div class="shop-p">
                        <div class="shop-p__collection">
                            <div class="row is-list-active">
                                @foreach (var item in Model)
                                {
                                    <div class="col-lg-4 col-md-6 col-sm-6">
                                        <div class="product-m">
                                            <div class="product-m__thumb">

                                                <a class="aspect aspect--square u-d-block" href="product-detail.html">

                                                    <img class="aspect__img" src="~/images/gift-voucher.png" alt="">
                                                </a>
                                                <div class="product-m__add-cart">

                                                    <a class="btn--e-brand" data-modal="modal" data-modal-id="#add-to-voucher">Add to Cart</a>
                                                </div>
                                            </div>
                                            <div class="product-m__content">

                                                @if (item.TypeVoucher == true)
                                                {
                                                    <div class="product-m__preview-description">
                                                        <a><h6>Giảm tiền</h6></a>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="product-m__preview-description">
                                                        <a><h6>Phần trăm</h6></a>
                                                    </div>
                                                }
                                                <div class="product-m__name">
                                                    <a><h3><b>@item.NameVoucher</b></h3></a>
                                                </div>
                                                <div class="product-m__price">CODE: @item.CodeVoucher</div>
                                                @if (item.IsUnLimit == true)
                                                {
                                                    <div class="product-m__price">Số lượng: Không giới hạn</div>
                                                }
                                                else
                                                {
                                                    <div class="product-m__price">Số lượng: @String.Format("{0:0,0}", item.Quantity)</div>
                                                }
                                                <div class="product-m__price">Bắt đầu từ giá: @String.Format("{0:0,0}", item.IncreasePrice)₫</div>
                                                @if (item.TypeVoucher == true)
                                                {
                                                    <div class="product-m__price">Giá giảm: @String.Format("{0:0,0}", item.PriceDiscount)đ</div>
                                                }
                                                else
                                                {
                                                    <div class="product-m__price">Phần trăm: @String.Format("{0:0,0}", item.PercentDiscount)%</div>
                                                }
                                                @if (item.IsNoEndDay == true)
                                                {
                                                    <div class="product-m__price">Thời gian: Không giới hạn</div>
                                                }
                                                else
                                                {
                                                    <div class="product-m__price">Ngày bắt đầu: @item.CreateDate</div>
                                                    <div class="product-m__price">Ngày kết thúc: @item.EndDate</div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                }

                            </div>
                        </div>
                        <div class="u-s-p-y-60">

                            <!--====== Pagination ======-->
                            <ul class="shop-p__pagination">
                                <li class="is-active">

                                    <a>1</a>
                                </li>
                                <li>

                                    <a class="fas fa-angle-right"></a>
                                </li>
                            </ul>
                            <!--====== End - Pagination ======-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--====== End - Section 1 ======-->
</div>
<!--====== End - App Content ======-->