@model Phone_Ecommerce_Manage.Models.Manager

@{
    ViewData["Title"] = "Create Employee";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}



<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
            <div class="pd-20 card-box mb-30">
                <div class="clearfix">
                    <h4 class="text-blue h4">Thêm nhân viên</h4>
                </div>
                <div class="wizard-content">
                    <form asp-action="Create" >
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <section class="mb-5">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="@Model.FullName"  class="control-label">Tên nhân viên</label>
                                        <input asp-for="@Model.FullName" class="form-control" />
                                        <span asp-validation-for="@Model.FullName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="@Model.Phone"  class="control-label">Số điện thoại</label>
                                        <input asp-for="@Model.Phone" class="form-control" />
                                        <span asp-validation-for="@Model.Phone" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="@Model.Email"  class="control-label">Email</label>
                                        <input asp-for="@Model.Email" class="form-control" />
                                        <span asp-validation-for="@Model.Email" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Quyền</label>
                                        <select asp-for="@Model.IdRole" class="form-control" asp-items="ViewBag.Roles"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="@Model.UserName"  class="control-label">Tài khoản</label>
                                        <input asp-for="@Model.UserName" class="form-control" />
                                        <span asp-validation-for="@Model.UserName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="@Model.PasswordAccount" class="control-label">Mật khẩu</label>
                                        <input asp-for="@Model.PasswordAccount" class="form-control" type="password"/>
                                        <span asp-validation-for="@Model.PasswordAccount" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <button type="submit" class="btn btn-primary">Lưu</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");   }
}
