@model Phone_Ecommerce_Manage.Models.ProductViewModel

@section Styles{
<link href="~/adminasset/summernote/summernote-bs4.css" rel="stylesheet" />
<link href="~/adminasset/summernote/summernote.css" rel="stylesheet" />
}

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    var count = 1;
}

<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
            <div class="pd-20 card-box mb-30">
                <div class="clearfix">
                    <h4 class="text-blue h4">Thêm sản phẩm</h4>
                </div>
                <div class="wizard-content">
                    <form asp-action="Create" >
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <h5>Sản phẩm</h5>
                        <section class="mb-5">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="@Model.product.NameProduct"  class="control-label">Tên sản phẩm</label>
                                        <input asp-for="@Model.product.NameProduct" class="form-control" />
                                        <span asp-validation-for="@Model.product.NameProduct" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Thương hiệu</label>
                                        <select asp-for="@Model.product.IdBrandMobile" class="form-control" asp-items="ViewBag.ListBranchMobiles"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox mb-5">
                                           <input type="checkbox" class="custom-control-input" asp-for="@Model.product.IsHot">
											<label class="custom-control-label" asp-for="@Model.product.IsHot">Sản phẩm hot</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox mb-5">
                                          <input type="checkbox" class="custom-control-input" asp-for="@Model.product.IsPublished" checked="true">
										<label class="custom-control-label" asp-for="@Model.product.IsPublished">Công khai</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!-- Step 2 -->
                        <section class="sectionFormm">
                            <div class="row">
                                <div class="col-md-6 text-success h5">Phiên bản</div>
                            </div>
                            <div class="row form-version" style="margin-bottom:50px">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label asp-for="@Model.productVersions[0].NameProductVersion" class="control-label">Tên phiên bản</label>
                                        <input asp-for="@Model.productVersions[0].NameProductVersion" class="form-control" />
                                        <span asp-validation-for="@Model.productVersions[0].NameProductVersion" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                         <div class="custom-control custom-checkbox mb-5">
                                         <input type="checkbox" class="custom-control-input" asp-for="@Model.productVersions[0].IsPublished" checked="true">
										<label class="custom-control-label" asp-for="@Model.productVersions[0].IsPublished">Công khai</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label asp-for="@Model.productVersions[0].Desciprtion">Mô tả</label>
                                        <textarea asp-for="@Model.productVersions[0].Desciprtion" class="summernote"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label asp-for="@Model.productVersions[0].TechnicalParameters">Thông số kỹ thuật</label>
                                        <textarea asp-for="@Model.productVersions[0].TechnicalParameters" class="summernote"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="newrow">
                            </div>
                            
                        </section>

                        <button id="rowAdder" type="button" onclick="hanleAdd()"
                                    class="btn btn-dark">
                                <span class="bi bi-plus-square-dotted">
                                </span> Thêm phiên bản
                            </button>
                        <button type="submit" class="btn btn-primary">Lưu</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    var i = @count;
    function hanleAdd() {
        newRowAdd = `<div class="row-version">
        <div class="row">
                                <div class="col-md-6 text-success h5">Phiên bản</div>
                            </div>
                            <div class="row form-version" style="margin-bottom:10px">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label" for="productVersions_${i}__NameProductVersion">Tên phiên bản</label>
                                        <input class="form-control" type="text" data-val="true" data-val-length="The field NameProductVersion must be a string with a maximum length of 255." data-val-length-max="255" data-val-required="The NameProductVersion field is required." id="productVersions_${i}__NameProductVersion" maxlength="255" name="productVersions[${i}].NameProductVersion" value="">
                                        <span class="text-danger field-validation-valid" data-valmsg-for="productVersions[${i}].NameProductVersion" data-valmsg-replace="true"></span>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                         <div class="custom-control custom-checkbox mb-5">
                                         <input type="checkbox" class="custom-control-input" checked="true" data-val="true" data-val-required="The IsPublished field is required." id="productVersions_${i}__IsPublished" name="productVersions[${i}].IsPublished" value="true">
										<label class="custom-control-label" for="productVersions_${i}__IsPublished">Công khai</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="productVersions_${i}__Desciprtion">Mô tả</label>
                                       <textarea class="summernote" id="productVersions_${i}__Desciprtion" name="productVersions[${i}].Desciprtion" style="display: none;"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="productVersions_${i}__TechnicalParameters">Thông số kỹ thuật</label>
                                        <textarea class="summernote" id="productVersions_${i}__TechnicalParameters" name="productVersions[${i}].TechnicalParameters" style="display: none;"></textarea>
                                    </div>
                                </div>
                            </div>
                                <button class="btn btn-danger ml-2 " style="margin-bottom:10px"
                                                        id="DeleteRow" type="button">
                                                    <i class="bi bi-trash "></i>Delete
                                                </button>
                            </div>`;



        $('.newrow').append(newRowAdd);
        i++;
        $(document).ready(function() {
        $('.summernote').summernote();
    });

    }

    $("body").on("click", "#DeleteRow", function () {
        $(this).parents(".row-version").remove();
    })

</script>

@section Scripts {
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.19.1/jquery.validate.min.js"></script>
<script src="~/adminasset/summernote/summernote-bs4.js"></script>

<script>
        $(document).ready(function() {
        $('.summernote').summernote();
    });
</script>
}



