@model Phone_Ecommerce_Manage.Models.ProductViewModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
            <div class="pd-20 card-box mb-30">
                <div class="clearfix">
                    <h4 class="text-danger h4">Bạn có muốn xóa sản phẩm "@Model.product.NameProduct" không?</h4>
                </div>
                <div class="wizard-content" style="margin-top: 40px">
                    <section class="mb-5">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="@Model.product.NameProduct" class="control-label">Tên sản phẩm</label>
                                    <input asp-for="@Model.product.NameProduct" class="form-control" disabled />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Thương hiệu</label>
                                    <select asp-for="@Model.product.IdBrandMobile" class="form-control" asp-items="ViewBag.ListBranchMobiles" disabled></select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox mb-5">
                                        <input type="checkbox" class="custom-control-input" asp-for="@Model.product.IsHot">
                                        <label class="custom-control-label" asp-for="@Model.product.IsHot">Sản phẩm hot</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox mb-5">
                                        <input type="checkbox" class="custom-control-input" asp-for="@Model.product.IsPublished" checked="true">
                                        <label class="custom-control-label" asp-for="@Model.product.IsPublished">Công khai</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @foreach (var item in Model.productVersions)
                        {

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label" asp-for="@item.NameProductVersion">Phiên bản</label>
                                        <input class="form-control" asp-for="@item.NameProductVersion" disabled>
                                    </div>

                                </div>
                            </div>
                            <form asp-action="DeleteVersion" method="post">
                                <input type="hidden" asp-for="@item.IdProductVersion" />
                                <button class="btn btn-danger" type="submit">Xóa phiên bản này</button>
                            </form>
                        }

                    </section>
                    <form asp-action="Delete" class="mt-5">
                        <input type="hidden" asp-for="@Model.product.IdProduct" />
                        <input type="submit" value="Xóa sản phẩm" class="btn btn-danger" />
                        <button class="btn btn-primary" asp-action="Index">Quay về</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>




