@model Phone_Ecommerce_Manage.Models.Product

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
            <div class="pd-20 card-box mb-30">
                <div class="clearfix">
                    <h4 class="text-danger h4">Bạn có muốn xóa sản phẩm "@Model.NameProduct" không?</h4>
                </div>
                <div class="wizard-content" style="margin-top: 40px">
                    <section class="mb-5">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="@Model.NameProduct" class="control-label">Tên sản phẩm</label>
                                    <input asp-for="@Model.NameProduct" class="form-control" disabled />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Thương hiệu</label>
                                    <select asp-for="@Model.IdBrandMobile" class="form-control" asp-items="ViewBag.ListBranchMobiles" disabled></select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox mb-5">
                                        <input type="checkbox" class="custom-control-input" asp-for="@Model.IsHot">
                                        <label class="custom-control-label" asp-for="@Model.IsHot">Sản phẩm hot</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox mb-5">
                                        <input type="checkbox" class="custom-control-input" asp-for="@Model.IsPublished" checked="true">
                                        <label class="custom-control-label" asp-for="@Model.IsPublished">Công khai</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <form asp-action="Delete">
                        <input type="hidden" asp-for="@Model.IdProduct" />
                        <input type="submit" value="Delete" class="btn btn-danger" /> 
                        <button class="btn btn-primary" asp-action="Index">Back to List</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>




