@model Phone_Ecommerce_Manage.Models.ProductColor;

@{
    ViewData["Title"] = "Xoá màu cho sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    ProductVersion productVersion = ViewBag.ProductVersion;

}


<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
            <div class="pd-20 card-box mb-30">
                <div class="clearfix">
                    <h4 class="text-blue h4 text-danger">Bạn có muốn xóa màu phiên bản - @productVersion.NameProductVersion</h4>
                </div>
                <div class="wizard-content">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Sản phẩm</label>
                                <select class="custom-select" asp-for="@productVersion.IdProduct" style="min-width: 200px;" asp-items="ViewBag.ListProduct" disabled>
                                    <option selected>Chọn danh mục</option>

                                </select>
                            </div>
                        </div>
                    </div>
                    <section class="mb-5">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Phiên bản</label>
                                        <select class="custom-select" style="min-width: 200px;" asp-for="@Model.IdProductVersion" asp-items="ViewBag.ListProductVerion" disabled>
                                                    <option selected>Chọn danh mục</option>
                                                </select>
                                    </div>
                                </div>
                        </section>
                        <h5>Màu sản phẩm</h5>
                        <section class="mb-5">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label">Màu</label>
                                        <select asp-for="@Model.IdColor" class="form-control" asp-items="ViewBag.ListColors" disabled></select>
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label asp-for="@Model.OrderPrice" class="control-label">Giá nhập</label>
                                        <input asp-for="@Model.OrderPrice" class="form-control" disabled/>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label asp-for="@Model.Price" class="control-label">Giá bán</label>
                                        <input asp-for="@Model.Price" class="form-control" disabled/>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label asp-for="@Model.PercentPromotion" class="control-label">Phần trăm khuyến mãi</label>
                                        <input asp-for="@Model.PercentPromotion" class="form-control" disabled/>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="@Model.Quantity" class="control-label">Số lượng</label>
                                        <input asp-for="@Model.Quantity" class="form-control" disabled/>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Trạng thái sản phẩm</label>
                                        <select asp-for="@Model.IdStatusProduct" class="form-control" asp-items="ViewBag.ListStatusProduct" disabled></select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox mb-5">
                                            <input type="checkbox" class="custom-control-input" asp-for="@Model.IsPublished" >
                                            <label class="custom-control-label" asp-for="@Model.IsPublished">Công khai</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <form asp-action="DeleteProductColor">
                            <input type="hidden" asp-for="@Model.IdProductColor" />
                            <input type="submit" value="Xóa" class="btn btn-danger" /> 
                             <button asp-area="Admin" asp-controller="Product" asp-action="ProductsColor" class="btn btn-primary">Quay về</button>
                        </form>
                </div>
            </div>
        </div>
    </div>
</div>



