@model Phone_Ecommerce_Manage.Models.ProductColor

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>ProductColor</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImgProductColor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImgProductColor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PromotionPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PromotionPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsPublished)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsPublished)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AvailableAtShop)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AvailableAtShop)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdProductVersion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdProductVersion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdColorNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdColorNavigation.IdColor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdStatusProduct1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdStatusProduct1.IdStatusProduct)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdStatusProductNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdStatusProductNavigation.IdProductVersion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdProductColor">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
