@model Phone_Ecommerce_Manage.Models.ProductViewModel

@section Styles{
<link href="~/adminasset/summernote/summernote-bs4.css" rel="stylesheet" />
<link href="~/adminasset/summernote/summernote.css" rel="stylesheet" />
}

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    int countProductVerions = @Model.productVersions.Count();
}

<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
            <div class="pd-20 card-box mb-30">
                <div class="clearfix">
                    <h4 class="text-blue h4">Thêm sản phẩm</h4>
                </div>
                <div class="wizard-content">
                    <form asp-action="Edit" >
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="@Model.product.IdProduct" />
                        <h5>Sản phẩm</h5>
                        <section class="mb-5">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="@Model.product.NameProduct"  class="control-label">Tên sản phẩm</label>
                                        <input asp-for="@Model.product.NameProduct" class="form-control" />
                                        <span asp-validation-for="@Model.product.NameProduct" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Thương hiệu</label>
                                        <select asp-for="@Model.product.IdBrandMobile" class="form-control" asp-items="ViewBag.ListBranchMobiles"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox mb-5">
                                           <input type="checkbox" class="custom-control-input" asp-for="@Model.product.IsHot">
											<label class="custom-control-label" asp-for="@Model.product.IsHot">Sản phẩm hot</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox mb-5">
                                          <input type="checkbox" class="custom-control-input" asp-for="@Model.product.IsPublished" checked="true">
										<label class="custom-control-label" asp-for="@Model.product.IsPublished">Công khai</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!-- Step 2 -->
                        @for(var i = 0; i < countProductVerions; i++)
                        {
                            <input type="hidden" asp-for="@Model.productVersions[i].IdProductVersion" />
                            <input type="hidden" asp-for="@Model.productVersions[i].IdProduct" />
                            <section class="sectionFormm">
                            <div class="row">
                                <div class="col-md-6 text-success h5">Phiên bản</div>
                            </div>
                            <div class="row form-version" style="margin-bottom:50px">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label asp-for="@Model.productVersions[i].NameProductVersion" class="control-label">Tên phiên bản</label>
                                        <input asp-for="@Model.productVersions[i].NameProductVersion" class="form-control" />
                                        <span asp-validation-for="@Model.productVersions[i].NameProductVersion" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                         <div class="custom-control custom-checkbox mb-5">
                                         <input type="checkbox" class="custom-control-input" asp-for="@Model.productVersions[i].IsPublished" checked="true">
										<label class="custom-control-label" asp-for="@Model.productVersions[i].IsPublished">Công khai</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label asp-for="@Model.productVersions[i].Desciprtion">Mô tả</label>
                                        <textarea asp-for="@Model.productVersions[i].Desciprtion" class="summernote"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label asp-for="@Model.productVersions[i].TechnicalParameters">Thông số kỹ thuật</label>
                                        <textarea asp-for="@Model.productVersions[i].TechnicalParameters" class="summernote"></textarea>
                                    </div>
                                </div>
                            </div>
                        </section>
                        }

                        <button type="submit" class="btn btn-primary">Lưu</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts {
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.19.1/jquery.validate.min.js"></script>
<script src="~/adminasset/summernote/summernote-bs4.js"></script>

<script>
        $(document).ready(function() {
        $('.summernote').summernote();
    });
</script>
}



