@model IEnumerable<Phone_Ecommerce_Manage.Models.Product>

@{
	ViewData["Title"] = "Danh sách sản phẩm";
	Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
	List<BrandMobile> listBranchMobiles = ViewBag.ListBranchMobiles;
	List<O> listOS = ViewBag.ListOS;

}

<div class="main-container">
	<div >
		<div class="min-height-200px">
			<div class="card-box mb-30">
				<div class="pd-20">
					<h4 class="text-blue h4">Danh sách sản phẩm</h4>
					<a asp-area="Admin" asp-controller="Product" asp-action="Create" type="button" class="btn btn-primary">
						Thêm sản phẩm
					</a>
					<a asp-area="Admin" asp-controller="Product" asp-action="ProductsColor" type="button" class="btn btn-primary">
						Danh sách phiên bản màu
					</a>
				</div>
				<div class="pb-20">
					<table class="data-table table stripe hover nowrap">
						<thead>
							<tr>
								<th>Tên sản phẩm</th>
								<th>Hệ điều hành</th>
								<th>Công khai</th>
								<th>Thương hiệu</th>

								<th class="table-plus datatable-nosort"></th>
							</tr>
						</thead>
						<tbody>
							
							@foreach (var item in Model) {
                                <tr>
									<td>@item.NameProduct</td>
									@{
										var os = listOS.Where(x => x.IdOs == item.IdOs).FirstOrDefault();
										<td>@os.NameOs</td>
									}
									@if (item.IsPublished)
									{
										<td>Công khai</td>
									}
									else
									{
										<td>Không công khai</td>
									}
									@{
										var brandMobile = listBranchMobiles.Where(x => x.IdBrandMobile == item.IdBrandMobile).FirstOrDefault();
										<td>@brandMobile.NameBrand</td>
									}
									<td>
										<a asp-action="Details" asp-route-id="@item.IdProduct" class=" btn btn-success">Xem</a> 
                                        <a asp-action="Edit" asp-route-id="@item.IdProduct" class="btn btn-primary">Sửa</a>
                                        <a asp-action="Delete" asp-route-id="@item.IdProduct" class="btn btn-danger">Xóa</a>
                                    </td>
                                </tr>
							}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
