@model IEnumerable<Phone_Ecommerce_Manage.Models.ProductColor>

@{
	ViewData["Title"] = "Danh sách phiên bản màu";
	Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
	List<ProductVersion> listProductVersion = ViewBag.ListProductVersion;
	List<ColorProduct> listColors = ViewBag.ListColors;
	List<StatusProduct> statusProducts = ViewBag.StatusProducts;
}

<div class="main-container">
	<div >
		<div class="min-height-200px">
			<div class="card-box mb-30">
				<div class="pd-20">
					<h4 class="text-blue h4">Danh sách phiên bản màu</h4>
					
					<a asp-area="Admin" asp-controller="Product" asp-action="CreateProductColor" type="button" class="btn btn-primary">
						Thêm màu cho các phiên bản
					</a>
					<a asp-area="Admin" asp-controller="Product" asp-action="Index" type="button" class="btn btn-primary">
						Danh sách sản phẩm
					</a>
				</div>
				<div class="pb-20">
					<table class="data-table table stripe hover nowrap">
						<thead>
							<tr>
								<th>Tên phiên bản</th>
								<th>Màu</th>
								<th>Giá nhập</th>
								<th>Giá bán</th>
								<th>Phần trăm khuyến mãi</th>
								<th>Số lượng</th>
								<th>Công khai</th>
								<th>Trạng thái</th>
								<th class="table-plus datatable-nosort"></th>
							</tr>
						</thead>
						<tbody>
							@foreach (var item in Model) {
                                <tr>
                                    @{
										var productVersion = listProductVersion.Where(x => x.IdProductVersion == item.IdProductVersion).FirstOrDefault();
										<td>@productVersion.NameProductVersion</td>
									}
									@{
										var colors = listColors.Where(x => x.IdColor == item.IdColor).FirstOrDefault();
										<td>@colors.NameColor</td>
									}

									<td>@item.OrderPrice</td>
									<td>@item.Price</td>
									<td>@item.PercentPromotion</td>
									<td>@item.Quantity</td>

                                    @if (item.IsPublished)
									{
										<td>Công khai</td>
									}
									else
									{
										<td>Không công khai</td>
									}

									@{
										var statusProduct = statusProducts.Where(x => x.IdStatusProduct == item.IdStatusProduct).FirstOrDefault();
										<td>@statusProduct.NameStatus</td>
									}
									
									<td>
										@{
											
										}
										<a asp-area="Admin" asp-controller="Product" asp-action="DetailsProductColor" asp-route-id="@item.IdProductColor" class=" btn btn-success">Xem</a> 
										<a asp-area="Admin" asp-controller="Product" asp-action="EditProductColor" asp-route-id="@item.IdProductColor" asp-route-IdProduct="@productVersion.IdProduct" asp-route-IdProductVersion="@item.IdProductVersion" class="btn btn-primary">Sửa</a>
                                        <a asp-area="Admin" asp-controller="Product" asp-action="DeleteProductColor"  asp-route-id="@item.IdProductColor" class="btn btn-danger">Xóa</a>
                                    </td>
                                </tr>
							}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
